.todo__form {
  display: grid;
  grid-template-columns: 550px 50px;
  gap: 2px;
}

.todo__input {
  display: grid;
  width: 100%;
  height: 40px;
  padding: 5px 10px;
  font-family: 'Caveat', cursive;
  font-size: 20px;
}

.btn-add {
  font-size: 20px;
  text-align: center;
  display: grid;
  justify-items: center;
  align-content: center;
  color: #ffffff;
}
