@import 'assets/styles/reset';
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Architects Daughter', cursive;
  font-size: 18px;
  line-height: 1.4;
  background: linear-gradient(50deg,  pink, purple);
  min-height: 100vh;
  height: 100%;
  padding: 30px;
}

.heading1 {
  font-size: 40px;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 4px #000000;
}

.btn {
  border: none;
  padding: 5px 10px;
  background-color: transparent;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  font-family: inherit;
  text-transform: uppercase;
  border-radius: 5px;
  color: #ffffff;

  &:hover {
    opacity: 0.7;
 }
}

.btn-color {
  background-color: #ff1493;
}
